In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time

In [2]:
races = pd.read_csv('./data/races.csv')

In [3]:
races.head()

,season,round,circuit_id,lat,long,country,date,url
0,1950,1,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,39.7950,-86.23470,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [4]:
weather = races.iloc[:,[0,1,2]]

In [5]:
weather

      season  round    circuit_id
0       1950      1   silverstone
1       1950      2        monaco
2       1950      3  indianapolis
3       1950      4    bremgarten
4       1950      5           spa
...      ...    ...           ...
1096    2023     18      americas
1097    2023     19     rodriguez
1098    2023     20    interlagos
1099    2023     21         vegas
1100    2023     22    yas_marina

[1101 rows x 3 columns]

In [8]:
races.url

0       http://en.wikipedia.org/wiki/1950_British_Gran...
1       http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2       http://en.wikipedia.org/wiki/1950_Indianapolis...
3       http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4       http://en.wikipedia.org/wiki/1950_Belgian_Gran...
                              ...
1096    https://en.wikipedia.org/wiki/2023_United_Stat...
1097    https://en.wikipedia.org/wiki/2023_Mexico_City...
1098    https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...
1099    https://en.wikipedia.org/wiki/2023_Las_Vegas_G...
1100    https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...
Name: url, Length: 1101, dtype: object

In [9]:
df = pd.read_html(races.url[0])[0]

ImportError: lxml not found, please install it