In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
import time

In [2]:
races = pd.read_csv('./data/races.csv')

In [3]:
races.head()

,season,round,circuit_id,lat,long,country,date,url
0,1950,1,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,39.7950,-86.23470,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [4]:
weather = races.iloc[:,[0,1,2]]

In [5]:
weather

      season  round    circuit_id
0       1950      1   silverstone
1       1950      2        monaco
2       1950      3  indianapolis
3       1950      4    bremgarten
4       1950      5           spa
...      ...    ...           ...
1096    2023     18      americas
1097    2023     19     rodriguez
1098    2023     20    interlagos
1099    2023     21         vegas
1100    2023     22    yas_marina

[1101 rows x 3 columns]

In [6]:
races.url[0]

'http://en.wikipedia.org/wiki/1950_British_Grand_Prix'

In [7]:
df = pd.read_html(races.url[0])

In [12]:
n = list(df[0].iloc[:,0]).index('Weather')

In [14]:
n

10

In [11]:
df[0]

,1950 British Grand Prix,1950 British Grand Prix.1,1950 British Grand Prix.2,1950 British Grand Prix.3
0,NextÂ raceÂ â†’,NextÂ raceÂ â†’,NextÂ raceÂ â†’,NextÂ raceÂ â†’
1,NextÂ raceÂ â†’,NaN,NaN,NaN
2,Silverstone Circuit in 1950â€“1951 configuration,Silverstone Circuit in 1950â€“1951 configuration,Silverstone Circuit in 1950â€“1951 configuration,Silverstone Circuit in 1950â€“1951 configuration
3,Race details,Race details,Race details,Race details
4,Date,13 May 1950,13 May 1950,13 May 1950
5,Official name,The Royal Automobile Club Grand Prix d'Europe ...,The Royal Automobile Club Grand Prix d'Europe ...,The Royal Automobile Club Grand Prix d'Europe ...
6,Location,"Silverstone Circuit Silverstone, England","Silverstone Circuit Silverstone, England","Silverstone Circuit Silverstone, England"
7,Course,Permanent racing facility,Permanent racing facility,Permanent racing facility
8,Course length,4.649Â km (2.889Â mi),4.649Â km (2.889Â mi),4.649Â km (2.889Â mi)
9,Distance,"70 laps, 325.430Â km (202.213Â mi)","70 laps, 325.430Â km (202.213Â mi)","70 laps, 325.430Â km (202.213Â mi)"
10,Weather,"Sunny, mild, dry.","Sunny, mild, dry.","Sunny, mild, dry."
11,Attendance,"100,000[1]","100,000[1]","100,000[1]"
12,Pole position,Pole position,Pole position,Pole position
13,Driver,".mw-parser-output .plainlist ol,.mw-parser-out...",Alfa Romeo,NaN
14,Time,1:50.8[2],1:50.8[2],1:50.8[2]
15,Fastest lap,Fastest lap,Fastest lap,Fastest lap
16,Driver,Nino Farina,Alfa Romeo,NaN
17,Time,1:50.6[3] on lap 2,1:50.6[3] on lap 2,1:50.6[3] on lap 2
18,Podium,Podium,Podium,Podium
19,First,Nino Farina,Alfa Romeo,NaN
20,Second,Luigi Fagioli,Alfa Romeo,NaN
21,Third,Reg Parnell,Alfa Romeo,NaN
22,Lap leaders,Lap leaders,Lap leaders,Lap leaders