Traitements à faire
---
- Retirer les colonnes inutilisées
- Ajouter une étique pour les pilotes actifs à la dernière saison (2023)

In [1]:
import pandas as pd

## 1. Chargement du Dataset

In [2]:
df_drivers = pd.read_csv("../../data/inputs/drivers.csv")

In [3]:
df_drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

## 2. Retirer les colonnes inutilisées

In [4]:
df_drivers.drop(['driverRef', 'url'], axis=1, inplace=True)
df_drivers.head()

   driverId number code  forename     surname         dob nationality
0         1     44  HAM     Lewis    Hamilton  1985-01-07     British
1         2     \N  HEI      Nick    Heidfeld  1977-05-10      German
2         3      6  ROS      Nico     Rosberg  1985-06-27      German
3         4     14  ALO  Fernando      Alonso  1981-07-29     Spanish
4         5     \N  KOV    Heikki  Kovalainen  1981-10-19     Finnish

## 3. Ajouter une étique uniquement sur les pilotes encore actifs

In [5]:
df_drivers['driver_is_active'] = 0

In [6]:
# Liste des pilotes actifs actuels
list_drivers = [
    ("Max", "Verstappen"),
    ("Logan", "Sargeant"),
    ("Lando", "Norris"),
    ("Pierre", "Gasly"),
    ("Sergio", "Pérez"),
    ("Fernando", "Alonso"),
    ("Charles", "Leclerc"),
    ("Lance", "Stroll"),
    ("Kevin", "Magnussen"),
    ("Yuki", "Tsunoda"),
    ("Alexander", "Albon"),
    ("Esteban", "Ocon"),
    ("Lewis", "Hamilton"),
    ("Carlos", "Sainz"),
    ("George", "Russell"),
    ("Oscar", "Piastri"),
    ("Guanyu", "Zhou"),
    ("Nico", "Hülkenberg"),
    ("Valtteri", "Bottas")
]

In [7]:
# Ajouter l'étique en fonction de la correspondance nom et prénom du pilote dans le Dataset
for (name, surname) in list_drivers:
    df_drivers.loc[(df_drivers['forename'] == name) & (df_drivers['surname'] == surname), 'driver_is_active'] = 1

df_drivers[df_drivers.driver_is_active == 1].head()

,driverId,number,code,forename,surname,dob,nationality,driver_is_active
0,1,44,HAM,Lewis,Hamilton,1985-01-07,British,1
3,4,14,ALO,Fernando,Alonso,1981-07-29,Spanish,1
452,842,10,GAS,Pierre,Gasly,1996-02-07,French,1
807,807,27,HUL,Nico,Hülkenberg,1987-08-19,German,1
814,815,11,PER,Sergio,Pérez,1990-01-26,Mexican,1

## 4. Exportons le Dataset

In [8]:
df_drivers.to_csv('../../data/outputs/03_drivers_processed.csv', index=False)