Traitements à faire
---
- Retirer les colonnes inutilisées
- Ajouter une étique pour les pilotes actifs à la dernière saison (2023)

In [11]:
import pandas as pd

## 1. Chargement du Dataset

In [12]:
df_drivers = pd.read_csv("../../data/inputs/drivers.csv")

In [13]:
df_drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

## 2. Retirer les colonnes inutilisées

In [14]:
df_drivers.drop(['driverRef', 'url', 'code'], axis=1, inplace=True)
df_drivers.head()

   driverId number  forename     surname         dob nationality
0         1     44     Lewis    Hamilton  1985-01-07     British
1         2     \N      Nick    Heidfeld  1977-05-10      German
2         3      6      Nico     Rosberg  1985-06-27      German
3         4     14  Fernando      Alonso  1981-07-29     Spanish
4         5     \N    Heikki  Kovalainen  1981-10-19     Finnish

## 3. Ajouter une étique uniquement sur les pilotes encore actifs

In [15]:
df_drivers['driver_is_active'] = 0

In [16]:
# Liste des pilotes actifs actuels
list_drivers = [
    ("Max", "Verstappen"),
    ("Logan", "Sargeant"),
    ("Lando", "Norris"),
    ("Pierre", "Gasly"),
    ("Sergio", "Pérez"),
    ("Fernando", "Alonso"),
    ("Charles", "Leclerc"),
    ("Lance", "Stroll"),
    ("Kevin", "Magnussen"),
    ("Yuki", "Tsunoda"),
    ("Alexander", "Albon"),
    ("Esteban", "Ocon"),
    ("Lewis", "Hamilton"),
    ("Carlos", "Sainz"),
    ("George", "Russell"),
    ("Oscar", "Piastri"),
    ("Guanyu", "Zhou"),
    ("Nico", "Hülkenberg"),
    ("Valtteri", "Bottas"),
    ("Daniel", "Ricciardo"),
]

In [17]:
# Ajouter l'étique en fonction de la correspondance nom et prénom du pilote dans le Dataset
for (name, surname) in list_drivers:
    df_drivers.loc[(df_drivers['forename'] == name) & (df_drivers['surname'] == surname), 'driver_is_active'] = 1

df_drivers[df_drivers.driver_is_active == 1]

,driverId,number,forename,surname,dob,nationality,driver_is_active
0,1,44,Lewis,Hamilton,1985-01-07,British,1
3,4,14,Fernando,Alonso,1981-07-29,Spanish,1
452,842,10,Pierre,Gasly,1996-02-07,French,1
807,807,27,Nico,Hülkenberg,1987-08-19,German,1
814,815,11,Sergio,Pérez,1990-01-26,Mexican,1
816,817,3,Daniel,Ricciardo,1989-07-01,Australian,1
821,822,77,Valtteri,Bottas,1989-08-28,Finnish,1
824,825,20,Kevin,Magnussen,1992-10-05,Danish,1
829,830,33,Max,Verstappen,1997-09-30,Dutch,1
831,832,55,Carlos,Sainz,1994-09-01,Spanish,1
838,839,31,Esteban,Ocon,1996-09-17,French,1
839,840,18,Lance,Stroll,1998-10-29,Canadian,1
842,844,16,Charles,Leclerc,1997-10-16,Monegasque,1
844,846,4,Lando,Norris,1999-11-13,British,1
845,847,63,George,Russell,1998-02-15,British,1
846,848,23,Alexander,Albon,1996-03-23,Thai,1
850,852,22,Yuki,Tsunoda,2000-05-11,Japanese,1
853,855,24,Guanyu,Zhou,1999-05-30,Chinese,1
855,857,81,Oscar,Piastri,2001-04-06,Australian,1
856,858,2,Logan,Sargeant,2000-12-31,American,1

## 4. Exportons le Dataset

In [18]:
df_drivers.to_csv('../../data/outputs/03_drivers_processed.csv', index=False)