In [1]:
import pandas as pd

## 1. Load the Data set

In [2]:
df = pd.read_csv('../data/outputs/05_merged_data.csv')

In [3]:
df.shape

(6465, 30)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6465 entries, 0 to 6464
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   resultId                        6465 non-null   int64
 1   raceId                          6465 non-null   int64
 2   driverId                        6465 non-null   int64
 3   constructorId                   6465 non-null   int64
 4   grid                            6465 non-null   int64
 5   race_rank                       6465 non-null   int64
 6   statusId                        6465 non-null   int64
 7   year                            6465 non-null   int64
 8   round                           6465 non-null   int64
 9   circuitId                       6465 non-null   int64
 10  circuit_name                    6465 non-null   object
 11  constructor_name                6465 non-null   object
 12  constructor_is_active           6465 non-null   int64
 13  constructor_races_won           6465 non-null   int64
 14  constructor_avg_point           6465 non-null   float64
 15  constructor_times_in_top_10     6465 non-null   int64
 16  driver_is_active                6465 non-null   int64
 17  driver_avg_point                6465 non-null   float64
 18  driver_avg_speed                6465 non-null   float64
 19  race_end_bf_2019                6465 non-null   int64
 20  race_end_in_2019                6465 non-null   int64
 21  race_end_in_2020                6465 non-null   int64
 22  race_end_in_2021                6465 non-null   int64
 23  race_end_in_2022                6465 non-null   int64
 24  race_end_in_2023                6465 non-null   int64
 25  driver_most_won_circuit_id      6465 non-null   int64
 26  driver_nber_of_races_won        6465 non-null   int64
 27  driver_nber_of_times_in_top_10  6465 non-null   int64
 28  full_name                       6465 non-null   object
 29  age                             6465 non-null   int64
dtypes: float64(3), int64(24), object(3)
memory usage: 1.5+ MB

## 2. Find the missing and NAs values

### 2.1. Find the NAs

In [5]:
df.isna().sum()

resultId                          0
raceId                            0
driverId                          0
constructorId                     0
grid                              0
race_rank                         0
statusId                          0
year                              0
round                             0
circuitId                         0
circuit_name                      0
constructor_name                  0
constructor_is_active             0
constructor_races_won             0
constructor_avg_point             0
constructor_times_in_top_10       0
driver_is_active                  0
driver_avg_point                  0
driver_avg_speed                  0
race_end_bf_2019                  0
race_end_in_2019                  0
race_end_in_2020                  0
race_end_in_2021                  0
race_end_in_2022                  0
race_end_in_2023                  0
driver_most_won_circuit_id        0
driver_nber_of_races_won          0
driver_nber_of_times_in_top_10    0
full_name                         0
age                               0
dtype: int64

### 2.2. The missing values

In [6]:
for c in df.columns:
    if df.loc[df[c] == '\\N'].shape[0] > 0:
        print(f"The column {c} has missing values")

In [7]:
df.head()

,resultId,raceId,driverId,constructorId,grid,race_rank,statusId,year,round,circuitId,...,race_end_in_2019,race_end_in_2020,race_end_in_2021,race_end_in_2022,race_end_in_2023,driver_most_won_circuit_id,driver_nber_of_races_won,driver_nber_of_times_in_top_10,full_name,age
0,1,18,1,1,1,2,1,2008,1,1,...,21,16,21,19,12,14,61,276,Lewis Hamilton,23
1,2,18,2,2,5,3,1,2008,1,1,...,0,0,0,0,0,2,2,31,Nick Heidfeld,31
2,3,18,3,3,7,5,1,2008,1,1,...,0,0,0,0,0,1,19,136,Nico Rosberg,23
3,4,18,4,4,11,7,1,2008,1,1,...,0,0,11,12,12,9,12,183,Fernando Alonso,27
4,5,18,5,1,3,1,1,2008,1,1,...,0,0,0,0,0,1,2,25,Heikki Kovalainen,27