In [1]:
import pandas as pd

## 1. Load the Data set

In [2]:
df = pd.read_csv('../data/outputs/05_merged_data.csv')

In [3]:
df.shape

(26080, 31)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   resultId                        26080 non-null  int64
 1   raceId                          26080 non-null  int64
 2   driverId                        26080 non-null  int64
 3   constructorId                   26080 non-null  int64
 4   grid                            26080 non-null  int64
 5   race_rank                       26080 non-null  int64
 6   statusId                        26080 non-null  int64
 7   year                            26080 non-null  int64
 8   round                           26080 non-null  int64
 9   circuitId                       26080 non-null  int64
 10  circuit_name                    26080 non-null  object
 11  constructor_name                26080 non-null  object
 12  constructor_is_active           26080 non-null  int64
 13  constructor_races_won           26080 non-null  int64
 14  constructor_avg_point           26080 non-null  float64
 15  constructor_times_in_top_10     26080 non-null  int64
 16  driver_is_active                26080 non-null  int64
 17  driver_avg_point                26080 non-null  float64
 18  driver_avg_speed                26080 non-null  float64
 19  race_end_bf_2019                26080 non-null  int64
 20  race_end_in_2019                26080 non-null  int64
 21  race_end_in_2020                26080 non-null  int64
 22  race_end_in_2021                26080 non-null  int64
 23  race_end_in_2022                26080 non-null  int64
 24  race_end_in_2023                26080 non-null  int64
 25  driver_most_won_circuit_id      26080 non-null  int64
 26  driver_nber_of_races_won        26080 non-null  int64
 27  driver_nber_of_times_in_top_10  26080 non-null  int64
 28  age                             26080 non-null  int64
 29  full_name                       26080 non-null  object
 30  season_age                      26080 non-null  int64
dtypes: float64(3), int64(25), object(3)
memory usage: 6.2+ MB

## 2. Find the missing and NAs values

### 2.1. Find the NAs

In [5]:
df.isna().sum()

resultId                          0
raceId                            0
driverId                          0
constructorId                     0
grid                              0
race_rank                         0
statusId                          0
year                              0
round                             0
circuitId                         0
circuit_name                      0
constructor_name                  0
constructor_is_active             0
constructor_races_won             0
constructor_avg_point             0
constructor_times_in_top_10       0
driver_is_active                  0
driver_avg_point                  0
driver_avg_speed                  0
race_end_bf_2019                  0
race_end_in_2019                  0
race_end_in_2020                  0
race_end_in_2021                  0
race_end_in_2022                  0
race_end_in_2023                  0
driver_most_won_circuit_id        0
driver_nber_of_races_won          0
driver_nber_of_times_in_top_10    0
age                               0
full_name                         0
season_age                        0
dtype: int64

### 2.2. The missing values

In [6]:
for c in df.columns:
    if df.loc[df[c] == '\\N'].shape[0] > 0:
        print(f"The column {c} has missing values")

In [7]:
df.head()

,resultId,raceId,driverId,constructorId,grid,race_rank,statusId,year,round,circuitId,...,race_end_in_2020,race_end_in_2021,race_end_in_2022,race_end_in_2023,driver_most_won_circuit_id,driver_nber_of_races_won,driver_nber_of_times_in_top_10,age,full_name,season_age
0,1,18,1,1,1,2,1,2008,1,1,...,16,21,19,12,14,63,292,39,Lewis Hamilton,23
1,2,18,2,2,5,3,1,2008,1,1,...,0,0,0,0,2,2,131,47,Nick Heidfeld,31
2,3,18,3,3,7,5,1,2008,1,1,...,0,0,0,0,3,20,158,39,Nico Rosberg,23
3,4,18,4,4,11,7,1,2008,1,1,...,0,11,12,12,9,22,285,43,Fernando Alonso,27
4,5,18,5,1,3,1,1,2008,1,1,...,0,0,0,0,1,2,37,43,Heikki Kovalainen,27